{% extends 'base_bo.html.twig' %}

{% block title %}Edit Personal
{% endblock %}

{% block body %}
	<h1>{{ form.vars.value.id ? 'Edit Personal' : 'Create new Personal' }}</h1>

	{{form(form)}}

		<a href="{{ path('app_personal_index') }}">Back to list</a>
	{% endblock %}
