<form method="post" action="{{ path('app_workload_delete', {'id': workload.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet élément?');" style="display: inline-block;">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ workload.id) }}">
	<button class="btn btn-danger btn-sm">
		<i class="fas fa-trash-alt"></i>
	</button>
</form>
