<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Informations sur vos prochains entretiens</title>
	</head>
	<body>
		{# C'est un mail des dates d'entretiens sauf celui de recrutement #}
		<h1>Annonce des prochains rendez-vous importants</h1>
		<p>Bonjour John Dow, on vous annonce les dates d'entretien suivants :</p>
		<section>
			<article>
				<h2>Entretien annuel</h2>
				<p>- Lieu: siège de l'entreprise</p>
				<p>- Date : le 11 juin 2025 à 14h00</p>
			</article>
			<article>
				<h2>Entretien professionnel</h2>
				<p>- Lieu: siège de l'entreprise</p>
				<p>- Date : le 30 août 2024 à 14h00</p>
			</article>
			<article>
				<h2>Entretien One-To-One</h2>
				<p>- Lieu: siège de l'entreprise</p>
				<p>- Date : le 25 septembre 2024 à 14h00</p>
			</article>
		</section>


		<p>A votre arrivée, annoncer à l'accueil le rendez-vous.</p>
	</body>
</html>
