<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Information du rendez-vous de recruitement</title>
	</head>
	<body>
		{# C'est un mail de confirmation de la date de l'entretien de recrutement #}

		<h1>Confirmation de l'entretien de recruitement</h1>
		<p>Bonjour John Dow, on vous annonce votre entretien de recruitement aura lieu à :</p>
		<ul>
			<li>- Lieu: siège de l'entreprise</li>
			<li>- Date : le 11 juin 2024 à 14h00</li>
		</ul>

		<p>A votre arrivée, annoncer à l'accueil le rendez-vous.</p>
	</body>
</html>
