{# templates/components/calendar.twig #}
{# J'intègre ce composant de calendrier dans les pages nécessitant un suivi d'événements ou de tâches. #}


	<div
	class="calendar-container"> {# J'affiche le titre du calendrier #}
	<h2>Calendrier</h2>

	{# Ici, je mets en place le calendrier interactif. Dans un projet réel, cela pourrait être dynamique avec JavaScript ou une bibliothèque de calendrier comme FullCalendar. #}
	<div id="calendar"></div>
</div>

{% block javascript %}
	{{ encore_entry_script_tags('calendarjs') }}
{% endblock %}
