{# templates/components/calendar.twig #}
{# J'intègre ce composant de calendrier dans les pages nécessitant un suivi d'événements ou de tâches. #}


	<div
	class="calendar-container"> {# J'affiche le titre du calendrier #}
	<h2>Calendrier</h2>

	{# <pre>
																{{ dump(events) }} here we got json datas from interviewcontroller
															</pre> #}
	{# style in calendar.scss #}
	<div>
		<ul class="listCaption">
			<li>
				<div class="colorCaption" id="entree"></div>entretien d'entrée</li>
			<li>
				<div class="colorCaption" id="essai"></div>entretien de fin période d'essai</li>
			<li>
				<div class="colorCaption" id="one"></div>one to one</li>
			<li>
				<div class="colorCaption" id="trim"></div>entretien trimestriel</li>
			<li>
				<div class="colorCaption" id="annuel"></div>entretien annuel</li>

		</ul>
		<ul class="listCaption">
			<li>
				<div class="colorCaption" id="pro"></div>entretien professionnel</li>
			<li>
				<div class="colorCaption" id="perf"></div>entretien performance</li>
			<li>
				<div class="colorCaption" id="recrut"></div>entretien recrutement</li>
			<li>
				<div class="colorCaption" id="recadr"></div>entretien recadrage</li>
			<li>
				<div class="colorCaption" id="fin"></div>entretien fin de contrat</li>
		</ul>
	</div>

	{# Ici, je mets en place le calendrier interactif. Dans un projet réel, cela pourrait être dynamique avec JavaScript ou une bibliothèque de calendrier comme FullCalendar. #}
	<div id="calendar"></div>
</div>

{% block javascript %}
	{{ encore_entry_script_tags('calendarjs') }}
	<script>
		// variable globale js qui sera recup dans calendar.js
window.calendarEvents = {{ events|raw }};
	</script>
{% endblock %}
